@use "../../../scss/util" as *;

.root {
  background-color: var(--white-color);
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  &:not(:last-child) {
    margin-right: rem(40);
  }
}

.link {
  font: var(--base-bold);
  color: var(--gray800-color);
  transition: color 0.3s;

  &:hover {
    color: var(--primary-color);
  }

  &Sale {
    color: var(--danger-color);

    &:hover {
      color: var(--danger-color);
    }
  }
}

// For nav (mobile)
.os-theme-my {
  --os-size: 0;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;

  // **
  --os-track-border-radius: 0;
  --os-track-bg: none;
  --os-track-bg-hover: none;
  --os-track-bg-active: none;
  --os-track-border: none;
  --os-track-border-hover: none;
  --os-track-border-active: none;

  // **
  --os-handle-border-radius: 0;
  --os-handle-bg: none;
  --os-handle-bg-hover: none;
  --os-handle-bg-active: none;
  --os-handle-border: none;
  --os-handle-border-hover: none;
  --os-handle-border-active: none;
  --os-handle-min-size: 0;
  --os-handle-max-size: none;
  --os-handle-perpendicular-size: 0;
  --os-handle-perpendicular-size-hover: 0;
  --os-handle-perpendicular-size-active: 0;
  --os-handle-interactive-area-offset: 0;
}