@use "../../../scss/util/" as *;

.root {
  display: flex;
  align-items: center;
  width: rem(105);
  white-space: nowrap;
}

.flag {
  margin-right: rem(12);
  width: rem(20);
  height: rem(12);
}

.selected {
  display: inline-flex;
  align-items: center;
  margin-right: rem(3);
}

.select {
  position: relative;
  cursor: pointer;

  &Head {
    &:hover {
      color: var(--white-color);
    }
  }

  &Selected {
    margin-right: rem(4);
    letter-spacing: rem(0.3);
    transition: color 0.3s;

    + svg {
      width: rem(8);
      height: rem(8);
      fill: currentcolor;
      transition: fill 0.3s;
    }

    &Active {

    }
  }

  &Wrapper {
    display: none; // TMP
    position: absolute;
    right: 0;
    top: calc(100% + rem(4));
    border: rem(1) solid var(--gray300-color);
    border-radius: rem(4);
    padding: rem(10) rem(20);
    width: 200%;
    box-shadow: var(--small-shadow);
    background-color: var(--white-color);
    cursor: default;
  }

  &List {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
  }

  &Item {
    padding-block: rem(2);
    color: var(--gray900-color);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }
}