@use "../util/" as *;

.container {
  margin-inline: rem(20);
  max-width: rem(1230);

  @include bp-up("container") {
    margin-inline: auto;
  }

  @include bp-down("576") {
    margin-inline: rem(15);
  }

  &--40 {
    @include bp-up("1325") {
      margin-inline: auto;
    }

    @include bp-down("1325") {
      margin-inline: rem(40);
    }

    @include bp-down("992") {
      margin-inline: rem(30);
    }

    @include bp-down("576") {
      margin-inline: rem(15);
    }
  }

  &--narrow {
    max-width: rem(810);

    @include bp-up("885") { // 810 + 30 + 30 + 15(scrollbar)
      margin-inline: auto;
    }

    @include bp-down("885") {
      margin-inline: rem(30);
    }

    @include bp-down("576") {
      margin-inline: rem(15);
    }
  }
}
